{% extends "base/base_config.html" %}

{% block body %}
    <nav class="navbar navbar-expand-lg py-3 mb-4 bg-primary ">
        <div style="color: white; " class="container light justify-content-start">
            Become a Millionaire <span style="font-weight: bold">, {{ user.username }}</span>
        </div>
    </nav>
    {% block content %}{% endblock %}
{% endblock %}