{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="mb-3">
            <span style="font-size: 4rem">Total Score: </span>
            <span style="font-weight: bold;text-align: center;font-size: 4rem" id="score">0</span>
        </div>
        <div id="questions" class=" pb-5"
             style="display: flex; row-gap: 32px; flex-wrap: wrap;">
        </div>
        <div style="margin: 0 auto;width: 50%">
            <a href="{% url 'game:initial-template' %}"><button  class="btn-success p-4 m-5">Restart Game</button></a>
            <a href="{% url 'game:home' %}"><button class="btn-warning p-4 m-5">Go to Home</button></a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script >
        $(document).ready(function () {
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                url: "{%  url 'game:initial' %}",
                context: document.body,
                method: "post",
                headers: {
                    "Authorization": "Basic " + btoa("{{ user.username }}" + ":" + "{{ password }}"),
                    "X-CSRFToken": "{{ csrftoken }}"
                },
                success: function (response) {
                    for (let i = 0; i < response.data.questions.length; i++) {

                        questions = $('#questions')
                        questions.append(
                            '<div class="card col-sm-4 " style="border: none">' +
                            '<div class="px-3">' +
                            '<li class="list-group-item bg-primary" style="color: white;font-size: 1.2rem;padding: 20px">' + response.data.questions[i].text + '</li>' +
                            '<ul class="list-group list-group-flush" id=id-value>'.replace("id-value", response.data.questions[i].id) +
                            '</ul>' +
                            '</div>' +
                            '</div>'
                        );
                        for (let j = 0; j < response.data.questions[i].options.length; j++) {
                            $("#id-value".replace("id-value", response.data.questions[i].id)).append(
                                '<button onclick="answer(this)" question_id="question-id" option_id="option-id" game_uuid="game-uuid" class="answer" style="width: 100%"><li class="list-group-item">'.replace("question-id",  response.data.questions[i].id).replace("option-id", response.data.questions[i].options[j].id).replace("game-uuid", response.data.uuid)+ response.data.questions[i].options[j].text +'</li></button>'
                            )
                        }

                    }
                }
            });
        })

    </script>

    <script>
        function answer(element) {
            const question = element.getAttribute("question_id");
            const option = element.getAttribute("option_id");
            const game_uuid = element.getAttribute("game_uuid");
            $.ajax({
                url: "/game/answer/game_uuid/".replace("game_uuid", game_uuid),
                type: "post",
                headers: {
                    "Authorization": "Basic " + btoa("{{ user.username }}" + ":" + "{{ password }}"),
                    "X-CSRFToken": "{{ csrftoken }}"
                },
                data: {
                    question: parseInt(question),
                    option: parseInt(option),
                },
                success: function (response) {
                    $("[option_id=option-id]".replace("option-id", response.data.correct_answer)).css("background-color", "green");
                    $("#score").text(response.data.game_score)
                },
                error: function (response) {
                    alert("Try Again...")
                }
            });
        }
    </script>
{% endblock %}