{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div style="display: flex; justify-content: space-around">
            <div >
                <div style="width: 70%;margin: 50px auto;">
                    <p style="font-weight: bold;font-size: 6rem;margin-bottom: 20px">Do you want to be a
                        MILLIONAIRE?</p>
                    <h5 style="font-size: 4rem;font-weight: bold;margin-bottom: 20px">Give it a try</h5>
                    <a href="{% url 'game:initial-template' %}">
                        <button class="btn-danger" style="width: 50%;padding: 40px;margin: 0 auto">Start Game</button>
                    </a>
                </div>

            </div>
            <div id="topPlayersContainer">
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "{%  url 'game:top-players' %}",
                context: document.body,
                method: "get",
                success: function (response) {
                    for (let i = 0; i < response.data.length; i++) {

                        $('#topPlayersContainer').append(
                            '<div class="card mb-2" style="border-bottom: 2px solid black; min-width: 200px;">' +
                            '<div class="card-body">' +
                            '<h5 class="card-title" style="font-size: 1rem;font-weight: bold">' + response.data[i].user.username + '</h5>' +
                            '<p class="card-text">score' + response.data[i].total_score + '</p>' +
                            '</div>' +
                            '</div >'
                        );
                    }
                }
            });
        })
    </script>
{% endblock %}