{% extends 'base/base.html' %}

{% block content %}

    <div class="container">
        <div class="row ">
            <div class="col-sm-6">
                <form id="signUp">
                    <div class="mb-4" style="font-size: 18px; font-weight: 600;">SignUP</div>
                    <div class="form-group">
                        <div style="margin-bottom: 24px;">
                            <label class="mb-1" for="signupInputUsername">Username</label>
                            <input type="text" class="form-control" id="signupInputUsername"
                                   placeholder="Enter username">
                        </div>
                        <div style="margin-bottom: 24px;">
                            <label class="mb-1" for="signupInputFirstname">First Name</label>
                            <input type="text" class="form-control" id="signupInputFirstname"
                                   placeholder="Enter First Name">

                        </div>
                        <div style="margin-bottom: 24px;">
                            <label class="mb-1" for="signupInputLastname">Last Name</label>
                            <input type="text" class="form-control" id="signupInputLastname"
                                   placeholder="Enter Last Name">

                        </div>
                        <div style="margin-bottom: 24px;">
                            <label class="mb-1" for="signupInputPassword">Password</label>
                            <input type="password" class="form-control" id="signupInputPassword"
                                   placeholder="Enter Password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="submitSignup">Submit</button>
                </form>
            </div>
            <div class="col-sm-6">
                <form id="signIn">
                    <div class="mb-4"  style="font-size: 18px; font-weight: 600;">SignIN
                    </div>
                    <div class="form-group">
                        <div style="margin-bottom: 24px;">
                            <label class="mb-1" for="signinInputUsername">Username</label>
                            <input type="text" class="form-control" id="signinInputUsername"
                                   placeholder="Enter username">

                        </div>
                        <div style="margin-bottom: 24px;">
                            <label class="mb-1" for="signinInputPassword">Password</label>
                            <input type="password" class="form-control" id="signinInputPassword"
                                   placeholder="Enter Password">
                        </div>
                        <button type="submit" class="btn btn-primary" id="submitSignup">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script>
        $("#signUp").submit(function (event) {
            $.ajax({
                url: "{% url 'authentication:register' %}",
                method: "post",
                data: {
                    username: $("#signupInputUsername").val(),
                    first_name: $("#signupInputFirstname").val(),
                    last_name: $("#signupInputLastname").val(),
                    password: $("#signupInputPassword").val(),
                },
                headers: {
                    "X-CSRFToken": "{{ csrftoken }}"
                },
                success: function (response) {
                    window.location.replace("{% url 'game:home' %}")
                },
                error: function (response) {
                    alert("Try Again...")
                }
            });
            event.preventDefault();
        });
    </script>

    <script>
        $("#signIn").submit(function (event) {
            $.ajax({
                url: "{% url 'authentication:login' %}",
                method: "post",
                data: {
                    username: $("#signinInputUsername").val(),
                    password: $("#signinInputPassword").val(),
                },
                headers: {
                    "X-CSRFToken": "{{ csrftoken }}"
                },
                success: function (response) {
                    window.location.replace("{% url 'game:home' %}")
                },
                error: function (response) {
                    alert("Try Again...")
                }
            });
            event.preventDefault();
        });
    </script>

{% endblock %}